In [87]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MultiLabelBinarizer

In [88]:
df = pd.read_csv('./movies.csv')

In [89]:
df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [91]:
df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [92]:
df['genres'].astype(str)

0        Adventure|Animation|Children|Comedy|Fantasy
1                         Adventure|Children|Fantasy
2                                     Comedy|Romance
3                               Comedy|Drama|Romance
4                                             Comedy
                            ...
27273                                         Comedy
27274                                         Comedy
27275                                      Adventure
27276                             (no genres listed)
27277                       Adventure|Fantasy|Horror
Name: genres, Length: 27278, dtype: object

In [93]:
df['genres'] = df['genres'].str.split('|')

df

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),[Comedy]
27274,131256,"Feuer, Eis & Dosenbier (2002)",[Comedy]
27275,131258,The Pirates (2014),[Adventure]
27276,131260,Rentun Ruusu (2001),[(no genres listed)]
27277,131262,Innocence (2014),"[Adventure, Fantasy, Horror]"

In [94]:
mlb = MultiLabelBinarizer()
generos_binarios = mlb.fit_transform(df['genres'])
df_generos = pd.DataFrame(generos_binarios, columns=mlb.classes_)

df_generos

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27273,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27274,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27275,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27276,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27277,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0

In [95]:
kmeans = KMeans(n_clusters=10, random_state=0)
clusters = kmeans.fit_predict(df_generos)

df['Cluster'] = clusters

In [96]:
filme_escolhido = 'Father of the Bride Part II (1995)'
cluster_filme = df.loc[df['title'] == filme_escolhido, 'Cluster'].values[0]
recomendacoes = df[df['Cluster'] == cluster_filme].loc[df['title'] != filme_escolhido]

recomendacoes[['title', 'genres']]

                                                   title               genres
2                                Grumpier Old Men (1995)    [Comedy, Romance]
6                                         Sabrina (1995)    [Comedy, Romance]
11                    Dracula: Dead and Loving It (1995)     [Comedy, Horror]
17                                     Four Rooms (1995)             [Comedy]
18                 Ace Ventura: When Nature Calls (1995)             [Comedy]
...                                                  ...                  ...
27269                Werner - Gekotzt wird später (2003)  [Animation, Comedy]
27271                              No More School (2000)             [Comedy]
27272  Forklift Driver Klaus: The First Day on the Jo...     [Comedy, Horror]
27273                       Kein Bund für's Leben (2007)             [Comedy]
27274                      Feuer, Eis & Dosenbier (2002)             [Comedy]

[5096 rows x 2 columns]